* {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
}
body {
  background-color: rgb(174, 222, 235);
  display: flex;
  justify-content: center;
}

.calculator {
  margin-top: 25px;
  background-color: white;
  border-radius: 20px;
  width: 50vw;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.loanAmount {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.loanTerm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.calcButton {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#calcButton {
  margin-left: 5px;
}

#resetButton {
  margin-left: 5px;
}

.evaluation {
  margin-top: 25px;
  text-align: center;
  vertical-align: middle;
}

/* Plus and Minus for amount */
.minusButton {
  cursor: pointer;
}
.minusButton:active {
  cursor: pointer;
  background-color: whitesmoke;
}

/* Hide input default arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
